.git
.github
.next
**/.next
**/dist
**/node_modules
**/coverage
**/test-results
**/playwright-report
**/*.log
.env
.env.*
!.env.example
DOCS
apps/api/test
apps/web/**
!apps/web/package.json
apps/web/tsconfig.tsbuildinfo
